[Desktop Entry]
Name=Python 3 (IDLE)
Comment=Integrated development environment for Python 3
TryExec=/usr/bin/idle3
Exec=/usr/bin/idle3
Icon=/usr/share/pixmaps/idle3.xpm
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
